/* ======= ESTILO GERAL ======= */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 30px;

    /* IMAGEM DE FUNDO */
    background: url('backgroundfut.png') no-repeat center center fixed;
    background-size: cover;

    /* Suaviza a imagem para não atrapalhar a leitura */
    backdrop-filter: blur(2px);
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35); /* 35% escuro */
    z-index: -1;
}


/* ======= TÍTULOS ======= */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #b8aeae;
}

h2 {
    margin-top: 40px;
    color: #333;
}

/* ======= CARD DO FORMULÁRIO ======= */
.container {
    max-width: 500px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* ======= CAMPOS ======= */
.container div {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}


label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

/* ======= BOTÕES ======= */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    transition: 0.2s ease-in-out;
}

/* CORES DOS BOTÕES */
.salvar { background: #28a745; }
.salvar:hover { background: #218838; }

.atualizar { background: #007bff; }
.atualizar:hover { background: #0069d9; }

.deletar { background: #dc3545; }
.deletar:hover { background: #c82333; }

.consultar { background: #6c757d; }
.consultar:hover { background: #5a6268; }

.limparCampos { background: #000; }
.limparCampos:hover { background: #333; }

/* ======= LISTAGEM ======= */
#lista-produtos {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 0 auto;
    margin-top: 15px;
}

#lista-produtos li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

#lista-produtos li:last-child {
    border-bottom: none;
}

#total-produtos {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}

.layout {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
    margin-top: 20px;
}

.lista-container {
    max-width: 450px;
    width: 100%;
    background: #ffffff;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.lista-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.botoes button {
    flex: 1;
    min-width: 120px;
}
